<div class="tab-pane table-responsive" id="active-rides">
  <div class="table-responsive">
    <table class="table table-hover" id="rtable3">
      <thead class=" text-success">
        <tr>
          <th class="text-center">PKG</th>
          <th>Driver</th>
          <th>Rider</th>
          <th>From Origin</th>
          <th>To Destination</th>
          <th>Distance</th>
          <th>W/Time</th>
          <th>Price</th>
          <th>Ride Date</th>
          <th>Time</th>
          <th class="td-actions text-right">More</th>
        </tr>
      </thead>
      <tbody class="active-rides animate__animated animate__fadeIn">
      </tbody>
    </table>
  </div>
</div>