<div class="row">
  <div class="bg-transluscent pt-4 pb-4">
  <div class="col-md-6 float-left">
    <div class="form-group mt-4">
      <label>Promo Code</label>
      <input type="text" class="form-control pro-code">
    </div>
  </div>
  <div class="col-md-6 float-left">
    <div class="form-group mt-4">
      <label>Discount %</label>
      <input type="number" class="form-control pro-discount">
    </div>
  </div>
  <div class="col-md-6 float-left">
    <div class="form-group mt-4">
      <label>Start Date</label>
      <input type="text" class="form-control datepicker pro-start">
    </div>
  </div>
  <div class="col-md-6 float-left">
    <div class="form-group mt-4">
      <label>Stop Date</label>
      <input type="text" class="form-control datepicker pro-stop">
    </div>
  </div>
  <div class="col-md-12 float-left">
    <div class="form-group mt-4">
      <label>Promo Content</label>
      <textarea class="form-control pro-content"></textarea>
    </div>
  </div>
</div>
  <div class="col-md-6 offset-md-6">
    <div class="form-group">
      <button class="btn btn-success float-right save-promo">Save New Promo</button>
    </div>
  </div>
</div>