<div class="row">
  <div class="col-md-12">
    <div class="form-group mt-4">
      <label>Search for Drivers</label>
      <select class="search-driver-module form-control" id="search-driver-module">
        <option value="0">Select a driver</option>
      </select>
    </div>
    <div class="form-group mt-4">
      <input type="hidden" class="vehicle-package-id form-control" value="0" />
    </div>
  </div>
  <div class="col-md-6 offset-md-6">
    <div class="form-group">
      <button class="btn btn-success float-right issue-vehicle">Issue Vehicle</button>
    </div>
  </div>
</div>