<div class="row">
  <div class="col-md-12">
    <div class="form-group mt-4">
      <label>Search for Packages</label>
      <select class="search-package-module form-control" id="search-package-module">
        <option value="0">Select a package</option>
      </select>
    </div>
  </div>
  <div class="col-md-6 offset-md-6">
    <div class="form-group">
      <button class="btn btn-success float-right issue-package">Issue Package</button>
    </div>
  </div>
</div>