<div class="row">
    <div class="col-md-5">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#recent-contacts" data-toggle="tab">
                      <i class="f7-icons size-20">chat_bubble_2_fill</i> Recent Chats
                      <div class="ripple-container"></div>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#all-contacts" data-toggle="tab">
                    <i class="f7-icons size-20">rectangle_stack_person_crop_fill</i>
                    All <span class="user-contact-level">Tufike Pamoja</span> Contacts
                    <div class="ripple-container"></div>
                </a>
            </li>
            <li class="nav-item dropdown float-right-super-cool">
                <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)">
                    <i class="f7-icons size-20">ellipsis_vertical</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void(0)">Rider Contacts</a>
                    <a class="dropdown-item" href="javascript:void(0)">Driver Contacts</a>
                    <a class="dropdown-item" href="javascript:void(0)">Car Owner Contacts</a>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="card-body table-responsive">
    <div class="tab-content">
        <div class="tab-pane active" id="recent-contacts">
            <div class="recent-contacts list chat-scroller">
                <ul class="contact-list">

                </ul>
            </div>
        </div>
        <div class="tab-pane" id="all-contacts">
            <div class="all-contacts list chat-scroller">
                <ul class="all-contacts-list">

                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="col-md-7">
    <div class="card">
      <div class="card-header card-header-success live-load">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#" data-toggle="tab">
                  <span class="card-title chat-user-name"><i class="f7-icons size-20">chat_bubble_2_fill</i> Select a contact from the left pane to initiate</span>
                  <div class="ripple-container"></div>
              </a>
          </li>
      </ul>
  </div>
</div>
</div>
<div class="card-body recent-chats chat-scroller">
  <img src="/assets/admin/img/logos/logo-310x310.png" class="mholder hidden"/>
</div>
<div class="card-footer xboard">
    <div class="form-group col-md-12 dark-footer mboard hidden">
        <textarea class="form-control chat-user-text" placeholder="Type a message... [ enter to send ]"></textarea>
        <a href="javascript:void(0)" class="send-button send-support"></a>
    </div>
</div>
</div>

</div>
</div>
