<div class="card">
  <div class="card-header card-header-tabs card-header-warning">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#about" data-toggle="tab">
              <i class="material-icons">help_outline</i> About Us
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#terms-of-use" data-toggle="tab">
              <i class="f7-icons">shield_lefthalf_fill</i> Terms of use
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#privacy-policy" data-toggle="tab">
              <i class="material-icons">verified_user</i> Privacy Policy
              <div class="ripple-container"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body mh-cms">
    <div class="tab-content">
      <div class="tab-pane active" id="about">
        <table class="table">
          <tbody>
            <tr>
              <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm edit-about" data-original-title="Edit Content">
                  <i class="material-icons">edit</i>
                </button>
              </td>
            </tr>
            <tr>
              <td class="about-content"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="terms-of-use">
        <table class="table">
          <tbody>
            <tr>
              <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Edit Content">
                  <i class="material-icons edit-terms">edit</i>
                </button>
              </td>
            </tr>
            <tr>
              <td class="terms-content"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="privacy-policy">
        <table class="table">
          <tbody>
            <tr>
              <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm edit-privacy" data-original-title="Edit Content">
                  <i class="material-icons">edit</i>
                </button>
              </td>
            </tr>
            <tr>
              <td class="privacy-content"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
