<div class="card mb-0">
  <div class="login-preloader"><img src="/assets/admin/img/preloaders/oval.svg"/></div>
  <div class="card-header card-header-warning">
    <h4 class="card-title cms-title"></h4>
    </a>
  </div>
  <div class="card-body">
    <div class="cms-bg">
    <textarea class="cms-editor form-control" id="editor" spellcheck="false"></textarea>
  </div>
  <button class="btn bg-orange float-right mt-3 mr-2 update-cms">Update Changes</button>
  </div>
</div>
