<div class="tab-pane table-responsive" id="driver-rides">
  <div class="table-responsive">
    <table class="table table-hover" id="rtable6">
      <thead class=" text-success">
        <tr>
          <th class="text-center">PKG</th>
          <th>Driver Name</th>
          <th>From Origin</th>
          <th>To Destination</th>
          <th>Distance</th>
          <th>W/Time</th>
          <th>Price</th>
          <th>Status</th>
          <th>Ride Date</th>
          <th>Time</th>
          <th class="td-actions text-right">More</th>
        </tr>
      </thead>
      <tbody class="driver-initiated-rides animate__animated animate__fadeIn">
      </tbody>
    </table>
  </div>
</div>