<div class="row">
  <div class="col-md-12">
    <div class="form-group mt-4">
      <label>Amount Received in Ksh</label>
      <input type="number" name="" class="form-control amount-received">
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group mt-4">
      <label>Payment Transaction Code</label>
      <input type="text" name="" class="form-control transaction-code">
    </div>
  </div>
  <div class="col-md-6 offset-md-6">
    <div class="form-group">
      <button class="btn btn-success float-right accept-payment">Receive Payment</button>
    </div>
  </div>
</div>