<div class="row">
  <div class="bg-transluscent">
  <div class="col-md-12">
    <div class="form-group mt-4">
      <label>Email Subject</label>
      <input type="text" class="form-control mail-header">
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group mt-4 mb-4">
    <label>Email Message</label>
    <textarea class="form-control mail-message"></textarea>
  </div>
  </div>
</div>
  <div class="col-md-6 offset-md-6">
    <div class="form-group mb-4 mt-4">
      <button class="btn bg-purple waves-effect float-right send-email">Send Email</button>
    </div>
  </div>
</div>
