<div class="row">
  <div class="bg-transluscent">
  <div class="col-md-12">
    <div class="form-group mt-4">
      <label>Notification Header (Title)</label>
      <input type="text" class="form-control not-header">
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group mt-4">
      <label>Notification Content (Message)</label>
      <textarea class="form-control not-content"></textarea>
    </div>
  </div>
</div>
  <div class="col-md-6 offset-md-6">
    <div class="form-group">
      <button class="btn btn-lg bg-blue waves-effect float-right send-notification">Send Push Notification</button>
    </div>
  </div>
</div>
