<div class="row">
  <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
          <div class="form-group mt-2">
            <label>Default Email Address</label>
            <input type="email" class="form-control form-control-success text-col-teal demail" autocomplete="off" spellcheck="false">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mt-2">
            <label>Default Phone Number</label>
            <input type="text" class="form-control dphone" autocomplete="off" spellcheck="false">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mt-2">
            <label>Cash Rewards per Point (KES)</label>
            <input type="number" class="form-control dcash" autocomplete="off" spellcheck="false">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mt-4">
            <label>Minimum Redeemable Points</label>
            <input type="number" class="form-control dminpoints" autocomplete="off" spellcheck="false">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mt-4">
            <label>Maximum Redeemable Points</label>
            <input type="number" class="form-control dmaxpoints" autocomplete="off" spellcheck="false">
          </div>
        </div>
        <div class="col-md-4">
        <div class="form-group mt-4">
          <label>Maximum Concurrent Driver Rides</label>
          <input type="number" class="form-control dmaxrides" autocomplete="off" spellcheck="false">
        </div>
      </div>
      <div class="col-md-4">
      <div class="form-group mt-4">
        <label>Default Chat Message</label>
        <input type="text" class="form-control dchat" autocomplete="off" spellcheck="false">
      </div>
    </div>
      <div class="col-md-4">
      <div class="form-group mt-4">
        <label>User Files Daily Backup Time</label>
        <input type="text" class="form-control dcronfs" autocomplete="off" spellcheck="false">
      </div>
    </div>
    <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Full Database Daily Backup Time</label>
      <input type="text" class="form-control dcrondb" autocomplete="off" spellcheck="false">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Pending Driver Payments Notification Time</label>
      <input type="text" class="form-control dcronpn" autocomplete="off" spellcheck="false">
    </div>
  </div>
  <div class="col-md-4">
  <p class="mt-2"><b>Find Nearby Riders Within</b></p>
   <div class="nouislider-range-riders"></div>
    <div class="mt-3"><span class="js-nouislider-value"></span></div>
    <input type="hidden" class="form-control near-dis near-rider"/>
  </div>
  <div class="col-md-4">
  <p class="mt-2"><b>Find Nearby Drivers Within</b></p>
   <div class="nouislider-range-drivers"></div>
    <div class="mt-3"><span class="js-nouislider-value"></span></div>
    <input type="hidden" class="form-control near-dis near-driver"/>
  </div>
  <div class="col-md-3 pt-3">
  <input type="checkbox" id="md_checkbox_1" class="filled-in chk-col-green smpesa">
  <label for="md_checkbox_1">Enable Mpesa Payments</label>
</div>
<div class="col-md-3 pt-3">
<input type="checkbox" id="md_checkbox_2" class="filled-in chk-col-pink scard">
<label for="md_checkbox_2">Enable Card Payments</label>
</div>
<div class="col-md-3 pt-3">
<input type="checkbox" id="md_checkbox_3" class="filled-in chk-col-purple spoints">
<label for="md_checkbox_3">Enable Points Payments</label>
</div>
<div class="col-md-3 pt-3">
<input type="checkbox" id="md_checkbox_4" class="filled-in chk-col-orange spromo">
<label for="md_checkbox_4">Enable Promo Discounts</label>
</div>
</div>
</div>
</div>
