<div class="row">
  <div class="col-md-12">
        <div class="bg-transluscent mt-3 pl-4 pr-4 pt-2">
          <div class="row">
            <div class="col-md-4">
          <div class="form-group mt-4">
            <label>Default Email Address</label>
            <input type="text" class="form-control demail" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mt-4">
            <label>Default Phone Number</label>
            <input type="text" class="form-control dphone" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mt-4">
            <label>Cash Rewards per Point (KES)</label>
            <input type="number" class="form-control dcash" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mt-4">
            <label>Minimum Redeemable Points</label>
            <input type="number" class="form-control dminpoints" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mt-4">
            <label>Maximum Redeemable Points</label>
            <input type="number" class="form-control dmaxpoints" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4">
        <div class="form-group mt-4">
          <label>Maximum Concurrent Driver Rides</label>
          <input type="number" class="form-control dmaxrides" autocomplete="off">
        </div>
      </div>
      <div class="col-md-4">
      <div class="form-group mt-4">
        <label>Default Chat Message</label>
        <input type="text" class="form-control dchat" autocomplete="off">
      </div>
    </div>
      <div class="col-md-4">
      <div class="form-group mt-4">
        <label>User Files Daily Backup Time</label>
        <input type="number" class="form-control dcronfiles" autocomplete="off">
      </div>
    </div>
    <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Full Database Daily Backup Time</label>
      <input type="number" class="form-control dcronmdb" autocomplete="off">
    </div>
  </div>
  <div class="col-md-4 offset-md-8">
          <div class="form-group">
            <button class="btn btn-block btn-success update-system">Update System Settings</button>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="col-md-12">
        <div class="bg-transluscent mt-3 pl-4 pr-4 pt-2">
          Backup Modules
        </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
