<div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box-2 bg-blue waves-effect">
                        <div class="icon">
                            <img src="/assets/admin/img/icons/dropbox.svg" width="80"/>
                        </div>
                        <div class="content">
                            <div class="text">DROPBOX</div>
                            <div class="number count-to dp-size-stats">Loading</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info dp-pro" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box-2 bg-orange waves-effect">
                        <div class="icon">
                            <img src="/assets/admin/img/icons/database.svg" class="mt-2" width="65"/>
                        </div>
                        <div class="content">
                            <div class="text cool-light">MONGODB CLOUD</div>
                            <div class="number cool-light count-to db-size-stats">Loading</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info db-pro" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box-2 bg-teal waves-effect">
                        <div class="icon">
                            <img src="/assets/admin/img/icons/cloud.svg" class="mt-2" width="65"/>
                        </div>
                        <div class="content">
                            <div class="text">SSD CLOUD</div>
                            <div class="number count-to ssd-size-stats">Loading</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-teal ssd-pro" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box-2 bg-purple waves-effect">
                        <div class="icon">
                            <img src="/assets/admin/img/icons/cloud.svg" class="mt-2" width="65"/>
                        </div>
                        <div class="content">
                            <div class="text">LOCAL DRIVE</div>
                            <div class="number count-to drive-size-stats">Loading</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-purple drive-pro" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
