<div class="row">
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Package Name</label>
      <input type="text" class="form-control upackage-name">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Base Fare (KES)</label>
      <input type="number" class="form-control upackage-base">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Minimum Fare (KES)</label>
      <input type="number" class="form-control upackage-minimum">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Per KM Fee (KES)</label>
      <input type="number" class="form-control upackage-perkm">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Per Min Fee (KES)</label>
      <input type="number" class="form-control upackage-permin">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Max Waiting Time (in Mins)</label>
      <input type="number" class="form-control upackage-wtime">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Waiting Fee (Per Min)</label>
      <input type="number" class="form-control upackage-wfee">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Commission in %</label>
      <input type="number" class="form-control upackage-commission">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group mt-4">
      <label>Points Per Km</label>
      <input type="number" class="form-control upackage-points">
    </div>
  </div>
  <div class="col-md-4 hidden">
    <div class="form-group mt-4">
      <label>KES Per Single Point</label>
      <input type="number" class="form-control upackage-perpoints">
    </div>
  </div>
  <div class="col-md-4 hidden">
    <div class="form-group mt-4">
      <label>Min Redeemable Points</label>
      <input type="number" class="form-control upackage-minpoints">
    </div>
  </div>
  <div class="col-md-4 hidden">
    <div class="form-group mt-4">
      <label>Max Redeemable Point</label>
      <input type="number" class="form-control upackage-maxpoints">
    </div>
  </div>
  <div class="col-md-4 offset-md-8">
    <div class="form-group">
      <button class="btn btn-success float-right update-package">Update Package</button>
    </div>
  </div>
</div>
