<div class="row">
  <div class="col-md-5">
    <div class="card data-card">
      <div class="card-header card-header-success">
        <h4 class="card-title"><i class="icon f7-icons align-middle">person_badge_plus_fill</i> Create new Admin Account</h4>
      </div>
      <div class="card-body">
        <div class="bg-transluscent mb-4 pl-4 pr-4 pt-2">
          <div class="form-group mt-4">
            <label>First Name</label>
            <input type="text" class="form-control fname" autocomplete="off" spellcheck="false">
          </div>
          <div class="form-group mt-4">
            <label>Last Name</label>
            <input type="text" class="form-control lname" autocomplete="off" spellcheck="false">
          </div>
          <div class="form-group mt-4">
            <label>Email Address</label>
            <input type="email" class="form-control email" autocomplete="off" spellcheck="false">
          </div>
          <div class="form-group mt-4">
            <label>Phone Number</label>
            <input type="text" class="form-control phone" autocomplete="off" spellcheck="false">
          </div>
          <div class="form-group mt-4">
            <label>Password</label>
            <input type="password" class="form-control password" autocomplete="off" spellcheck="false">
          </div>
          <div class="form-group mt-4">
            <button class="btn btn-block bg-green waves-effect create-account">Create Admin Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card data-card">
      <div class="card-header card-header-success live-load">
        <h4 class="card-title chat-user-name"><i class="icon f7-icons align-middle">person_3_fill</i> Current Admin user accounts
          <a href="javascript:void(0)" class="refresh-data float-right">
            <i class="material-icons" role="button">refresh</i>
          </a>
        </h4>
      </div>
      <div class="card-body xpage table-responsive">
        <div class="shap one"></div>
        <div class="shap two"></div>
        <div class="shap one three"></div>
        <div class="shap two four"></div>
        <table class="table table-hover" id="dtable">
          <thead class=" text-success">
            <tr>
              <th class="text-center">ID</th>
              <th>Admin Name</th>
              <th>Email Address</th>
              <th>Phone Number</th>
              <th>Registration Date</th>
              <th class="text-right">Delete</th>
            </tr>
          </thead>
          <tbody class="admin-users animate__animated animate__fadeIn">
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
