<div id="server-sound"></div>
<script src="/assets/admin/js/core/jquery-3.5.1.min.js"></script>
<script src="/assets/admin/js/socket.io.js"></script>
<script src="/assets/admin/js/core/popper.min.js"></script>
<script src="/assets/admin/js/core/bootstrap-material-design.min.js"></script>
<script src="/assets/admin/js/plugins/bootstrap-notify.js"></script>
<script src="/assets/admin/plugins/datatables/datatables.min.js"></script>
<script src="/assets/admin/plugins/select2/js/select2.min.js"></script>
<script src="/assets/admin/plugins/croppie/croppie.js"></script>
<script src="/assets/admin/plugins/momentjs/moment.js"></script>
<script src="/assets/admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="/assets/admin/plugins/lightg/js/lightgallery-all.js"></script>
<script src="/assets/admin/js/material-dashboard.js"></script>
<script src="/assets/admin/plugins/nprogress/nprogress.js"></script>
<script src="/assets/admin/plugins/node-waves/waves.min.js"></script>
<script src="/assets/admin/plugins/magnific/jquery.magnific-popup.min.js"></script>
<script src="/assets/admin/plugins/owl.carousel/owl.carousel.min.js"></script>
<script src="/assets/admin/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/assets/admin/plugins/chartjs/Chart.min.js"></script>
<script src="/assets/admin/plugins/pace/pace.min.js"></script>
<script src="/assets/admin/plugins/nouislider/nouislider.js"></script>
<script>
var env = 'test';
if (env === 'dev') {
var appUrl = 'http://localhost:4080';
var devUrl = 'http://localhost/lexacle/';
var cloudUrl = 'https://cloud.lexacle.com/vapor';
} else if (env === 'live') {
var appUrl = 'http://63.250.44.29:4020';
var devUrl = 'https://lexacle.com/';
var cloudUrl = 'https://cloud.lexacle.com/vapor';
} else if (env === 'test') {
var appUrl = 'https://tufikepamoja.herokuapp.com';
var devUrl = 'https://lexacle.com/';
var cloudUrl = 'https://cloud.lexacle.com/vapor';
}
var socket = io.connect(appUrl);
</script>
<script src="/assets/admin/js/mapstyles.js"></script>
<script src="/assets/admin/js/core.js"></script>
<script src="/assets/admin/js/app.js"></script>
<script src="/assets/admin/js/live.js"></script>
<script>{{pdata.pagefunctions}}</script>
</body>
</html>
