<!doctype html>
<html lang="en">
<head>
  <title>{{pdata.title}}</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/admin/img/logos/favicon-32x32.png">
  <link rel="apple-touch-icon" href="/assets/admin/img/logos/apple-touch-icon-180x180.png">
  <meta name="theme-color" content="#8721c2">
  <link href="/assets/admin/css/material-dashboard.css" rel="stylesheet" />
  <link href="/assets/admin/plugins/nprogress/nprogress.css" rel="stylesheet" />
  <link href="/assets/admin/plugins/animate.css/animate.min.css" rel="stylesheet" />
  <link href="/assets/admin/plugins/magic/magic.min.css" rel="stylesheet" />
  <link href="/assets/admin/plugins/magnific/magnific-popup.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/assets/admin/plugins/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/admin/plugins/owl.carousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/assets/admin/plugins/datatables/datatables.min.css"/>
  <link rel="stylesheet" href="/assets/admin/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" />
  <link rel="stylesheet" href="/assets/admin/plugins/select2/css/select2.css"/>
  <link rel="stylesheet" href="/assets/admin/plugins/lightg/css/lightgallery.css"/>
  <link rel="stylesheet" href="/assets/admin/plugins/sweetalert2/dist/sweetalert2.css"/>
  <link rel="stylesheet" href="/assets/admin/plugins/chartjs/Chart.min.css"/>
  <link rel="manifest" href="/manifest.json">
  <link href="/assets/admin/css/chat-dark.min.css" rel="stylesheet" />
  <link href="/assets/admin/css/icons.css" rel="stylesheet" />
  <link href="/assets/admin/css/app.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/admin/plugins/pace/themes/blue/pace-theme-material.css">
  <!--
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "4b618591-01ab-4580-8769-51d4c91da11c",
      persistNotification: true,
      autoResubscribe: true,
      notifyButton: {
        enable: true,
      },
      allowLocalhostAsSecureOrigin: true,
    });
  });
  </script>
-->
</head>
<body class="dark-edition animate__animated animate__fadeIn">
<div class="page-preloader">
  <img src="/assets/admin/img/logos/logo-310x310.png" class="mlogo magictime swashIn">
</div>
