<footer class="xfooter sticky-bottom">
	<div class="row">
		<div class="col-md-2">
			<i class="f7-icons size-20 align-middle nm-x text-success">person_3_fill</i>
			<span class="count-connect fix-foot"></span>
		</div>
		<div class="col-md-2">
			<i class="f7-icons size-15 align-middle nm-x text-info">folder_circle_fill</i>
			<span class="free-gb fix-foot"></span>
		</div>
		<div class="col-md-2">
			<i class="f7-icons size-15 align-middle text-primary">text_bubble_fill</i>
			<span class="sms-balance fix-foot">Loading SMS API</span>
		</div>
	</div>
</footer>
</div>
</div>
