<footer class="xfooter sticky-bottom bg-dark-gradient-reverse">
	<div class="row">
		<div class="col-md-2 d-xs-none">
			<i class="f7-icons size-20 align-middle nm-x text-success">person_3_fill</i>
			<span class="count-connect fix-foot"></span>
		</div>
		<div class="col-md-2 d-xs-none">
			<i class="f7-icons size-15 align-middle nm-x text-info">folder_circle_fill</i>
			<span class="free-gb fix-foot"></span>
		</div>
		<div class="col-md-2 d-xs-none">
			<i class="f7-icons size-15 align-middle text-primary">text_bubble_fill</i>
			<a href="javascript:void(0)" class="sms-balance fix-foot green-link pay-sms">Loading SMS Balance</a>
		</div>
		<div class="col-md-6 w-pad">
			<a href="https://lexacle.com" target="_blank" class="fix-foot green-link">&copy; <span class="current-year blue-link"></span> Lexacle Technologies Ltd</a>
		</div>
	</div>
</footer>
</div>
</div>
