<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="f7-icons">person_3_fill</i>
                  </div>
                  <p class="card-category">Rides</p>
                  <h3 class="card-title count count-rides orange-link">0</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a href="/rides" class="warning-link"><span class="count count-other-rides">0</span> Cancelled / Rejected Rides</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="f7-icons">person_2_fill</i>
                  </div>
                  <p class="card-category">Riders</p>
                  <h3 class="card-title count count-riders green-link">0</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a href="/riders" class="success-link"><span class="count count-other-riders">0</span> Active Riders</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon bg-blue">
                    <i class="material-icons">airline_seat_recline_normal</i>
                  </div>
                  <p class="card-category">Drivers</p>
                  <h3 class="card-title count count-drivers blue-link">0</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a href="/drivers" class="blue-link"><span class="count count-other-drivers">0</span> Active Drivers</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-pink card-header-icon">
                  <div class="card-icon">
                    <i class="f7-icons">car_fill</i>
                  </div>
                  <p class="card-category">Vehicles</p>
                  <h3 class="card-title count count-owners fire-link">0</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a href="/vehicles" class="pink-link"><span class="count count-other-owners">0</span> Active Owners</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              {{> modules/driverpayments}}
            </div>
            <div class="col-lg-6 col-md-12">
              {{> modules/cms}}
            </div>
            <div class="col-lg-6 col-md-12">
              {{> modules/chartprice}}
            </div>
            <div class="col-lg-6 col-md-12">
              {{> modules/chartpreference}}
            </div>
            <div class="col-lg-6 col-md-12">
              {{> modules/chartriders}}
            </div>
            <div class="col-lg-6 col-md-12">
              {{> modules/chartdrivers}}
            </div>
          </div>
        </div>
      </div>
