<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card data-card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Tufike Pamoja Admin Notifications</h4>
          </div>
          <div class="card-body xpage">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="shap one three"></div>
            <div class="shap two four"></div>
              <div class="table-responsive" id="rider-notifications">
                <table class="table table-hover" id="ntable1">
                  <thead class=" text-success">
                    <tr>
                      <th><i class="f7-icons">bell_fill</i></th>
                      <th>Rider Names</th>
                      <th>Notification Header</th>
                      <th>Notification Message</th>
                      <th>Notification Date</th>
                      <th>Status</th>
                      <th class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="all-rider-notifications animate__animated">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
