<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card data-card">
          <div class="card-header card-header-success live-load">
            <h4 class="card-title ">Tufike Pamoja Ride Packages
                <a href="" class="refresh-data float-right">
                  <i class="material-icons" role="button">refresh</i>
                </a>
            </h4>
          </div>
          <div class="card-body xpage">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="shap one three"></div>
            <div class="shap two four"></div>
            <div class="table-responsive">
              <table class="table table-hover" id="dtable">
                <thead class=" text-success">
                  <tr>
                    <th>ID</th>
                    <th>Photo</th>
                    <th>Package</th>
                    <th>Base Fare</th>
                    <th>Min Fare</th>
                    <th>Per Min</th>
                    <th>Per Km</th>
                    <th>W/Time</th>
                    <th>W/Charges</th>
                    <th>Com</th>
                    <th>Rewards</th>
                    <th class="td-actions text-right">Actions</th>
                  </tr>
                </thead>
                <tbody class="all-packages animate__animated animate__fadeIn">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
