<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card data-card">
          <div class="card-header card-header-success live-load">
            <h4 class="card-title ">Tufike Pamoja Riders
                <a href="javascript:void(0)" class="refresh-data float-right">
                  <i class="material-icons" role="button">refresh</i>
                </a>
                <button class="btn btn-warning animate__animated animate__fadeIn btn-large btn-round btn-super notify-all-riders hidden"><i class="material-icons">notifications_active</i></button>
            </h4>
          </div>
          <div class="card-body xpage">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="shap one three"></div>
            <div class="shap two four"></div>
            <div class="table-responsive">
              <table class="table table-hover" id="dtable">
                <thead class=" text-success">
                  <tr>
                    <th>ID</th>
                    <th>Photo</th>
                    <th>Rider Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Registration Date</th>
                    <th>Activation</th>
                    <th>Rides</th>
                    <th>Favorites</th>
                    <th>ACODE</th>
                    <th class="text-center">Actions</th>
                    <th class="td-actions text-right">More</th>
                  </tr>
                </thead>
                <tbody class="all-riders animate__animated">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
