<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card data-card">
          <div class="card-header card-header-success live-load">
            <h4 class="card-title ">Tufike Pamoja Riders
                <a href="javascript:void(0)" class="refresh-data float-right">
                  <i class="material-icons" role="button">refresh</i>
                </a>
                <div class="actions-tab bg-dark-gradient animate__animated animate__fadeIn hidden">
                  <div class="action waves-effect blue-link notify-all-riders"><i class="icon f7-icons">bell_fill</i></div>
                  <div class="action waves-effect purple-link email-all-riders"><i class="icon f7-icons">envelope_fill</i></div>
                  <div class="action waves-effect orange-link sms-all-riders"><i class="icon f7-icons">chat_bubble_text_fill</i></div>
                </div>
            </h4>
          </div>
          <div class="card-body xpage">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="shap one three"></div>
            <div class="shap two four"></div>
            <div class="table-responsive">
              <table class="table table-hover" id="dtable">
                <thead class=" text-success">
                  <tr>
                    <th>ID</th>
                    <th>Photo</th>
                    <th>Rider Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Registration Date</th>
                    <th>Activation</th>
                    <th>Rides</th>
                    <th>Favs</th>
                    <th>ACODE</th>
                    <th class="td-actions text-right">All Rider Actions</th>
                  </tr>
                </thead>
                <tbody class="all-riders animate__animated">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
