<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card data-card">
          <div class="card-header card-header-success live-load">
            <h4 class="card-title ">Tufike Pamoja Vehicles
                <a href="javascript:void(0)" class="refresh-data float-right">
                  <i class="material-icons" role="button">refresh</i>
                </a>
                <button class="btn btn-warning animate__animated animate__fadeIn btn-large btn-round btn-super notify-all-owners hidden"><i class="material-icons">notifications_active</i></button>
            </h4>
          </div>
          <div class="card-body xpage">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="shap one three"></div>
            <div class="shap two four"></div>
            <div class="table-responsive">
              <table class="table" id="dtable">
                <thead class=" text-success">
                  <tr>
                    <th>ID</th>
                    <th>Photo</th>
                    <th>Owner Name</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Plates</th>
                    <th>Color</th>
                    <th>Driver</th>
                    <th>Package</th>
                    <th>Status</th>
                    <th>Registered</th>
                    <th>Acode</th>
                    <th class="text-center">Notify</th>
                    <th class="td-actions text-right">More</th>
                  </tr>
                </thead>
                <tbody class="all-vehicles animate__animated animate__fadeIn">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
