<div class="dark-image-bg">
  <div class="dark-image-bg-overlay"></div>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center">
        <a href="javascript:void(0)"><img src="/assets/admin/img/logos/logo-310x310.png" class="main-logo magictime puffIn"/></a>
        <div class="card card-login animate__animated animate__fadeIn">
          <div class="card-header card-header-success">
            <h4 class="card-title text-center p-0 m-0">Tufike Pamoja Admin Login</h4>
          </div>
          <div class="card-content">
            <div class="login-preloader"><img src="/assets/admin/img/preloaders/oval.svg"/></div>
            <form method="post" id="admin-login-form">
              <div class="form-group pl-4 pr-4 mt-5">
                <label class="pl-4 pr-4 label-floating">Email Address</label>
                <input type="email" class="form-control lemail" autofocus>
              </div>
              <div class="form-group pl-4 pr-4 mt-4">
                <label class="pl-4 pr-4 label-floating">Account Password</label>
                <input type="password" class="form-control lpassword">
              </div>
              <div class="form-group pl-4 pr-4">
                <button type="button" class="btn btn-lg bg-purple waves-effect btn-block admin-login-button">Login</button>
              </div>
          </div>
          <div class="card-footer">
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
